/* Asegurar que el contenedor principal ocupe todo el espacio */
:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Evita scroll en el componente */
}

#map { 
  height: 100%; 
  width: 100%;
  display: block;
}

  /* Panel de capas claro y moderno */
::ng-deep .leaflet-control-layers {
  border-radius: 12px !important;
  border: none !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08) !important;
  padding: 12px !important;
}



/* Usamos ::ng-deep para que Leaflet reconozca las clases */
::ng-deep .custom-pin-marker {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0; /* Crea la forma de gota invertida */
  position: absolute;
  transform: rotate(-45deg); /* Gira la gota para que la punta mire hacia abajo */
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px; 
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5); 
  border: 1px solid rgba(255,255,255,0.2); 
  z-index: 1000; /* Asegura que esté por encima de las regiones */
}

/* El círculo blanco interior */
::ng-deep .custom-pin-marker::after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px; 
  background: #ffffff;
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2);
}

/* Colores específicos con ::ng-deep */
::ng-deep .pin-antena { background-color: #ff1447 !important; }
::ng-deep .pin-abonado { background-color: #0084ff !important; }
::ng-deep .pin-oficina { background-color: #1dbb2a !important; }
::ng-deep .pin-agente { background-color: #e98204 !important; }

/* Evita que el contenedor invisible de Leaflet tape el diseño */
::ng-deep .marker-pin-container {
  background: none !important;
  border: none !important;
}